{
  "plugins": [["transform-builtin-classes", { "globals": ["Error"] }]],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ]
}
